:root {
    /* --background-color: hsl(224, 28%, 10%);
    --text-color: hsl(224, 14%, 84%); */

    --background-color: hsl(240, 28%, 14%);
    --text-color: hsl(0, 0%, 90%);

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    margin: 0;
    padding: 0;
    height: 100vh;
}