:root {
    /* --background-color: hsl(224, 28%, 10%);
    --text-color: hsl(224, 14%, 84%); */

    --background-color: hsl(240, 28%, 14%);
    --text-color: hsl(0, 0%, 90%);

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    transition: all 0.1s ease;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

input {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
}

input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}